*{
	margin: 0px;
	padding: 0px;
	background-color: lightgrey;
 }

.loader{
	position: fixed;
	top: 0;
	left: 0;
	background: lightgrey;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.footer{height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #8BC34A;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;


}
.images{
	height: 100%;
	width:100%;
	background-size: cover;

} 
.header{height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #8BC34A;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;


}
.image-div{
	height: 200px;
	width: 200px;
	position: fixed;
	top: 50px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
	z-index: 1;
}
.image-div1{z-index: 1;
	height: 200px;
	width: 200px;
	position: fixed;
	top: 280px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
}
.image-div2{
	z-index: 1;
	height: 200px;
	width: 200px;
	position: fixed;
	top: 50px;
	left: 230px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
}
.image-div3{z-index: 1;
	height: 200px;
	width: 200px;
	position: fixed;
	top: 280px;
	left: 230px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
}
.image-div4{z-index: 1;
	height: 200px;

	width: 200px;
	position: fixed;
	top: 50px;
	left: 460px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
}
.image-div5{z-index: 1;
	height: 200px;
	width: 200px;
	position: fixed;
	top: 280px;
	left: 460px ;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
}
.image-div6{z-index: 1;
	height: 200px;
	width: 200px;
	position: fixed;
	top: 50px;
	left:690px ;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
}
.image-div7{z-index: 1;
	height: 200px;
	width: 200px;
	position: fixed;
	top: 280px;
	left: 690px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
}
.image-div8{z-index: 1;
	height: 200px;
	width: 200px;
	position: fixed;
	top: 50px;
	left:920px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
}
.image-div9{z-index: 1;
	height: 200px;
	width: 200px;
	position: fixed;
	top: 280px;
	left: 920px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
}
p{background-color: #8BC34A;
color: white;
font-family: sans-serif;
font-size: 20px;}
 /* @keyframes vanish {
	100%{
		opacity: 0;
		visibility: hidden;
	    }
}  */
